@{
    ViewData["Title"] = "Início";
}

<style>
    .home-container {
        padding: 2rem 0;
    }

    .home-content {
        padding-right: 2rem;
    }

    .home-image img {
        max-width: 100%;
        height: auto;
    }


    @@media (max-width: 992px) {
        .home-content {
            padding-right: 0;
            text-align: center;
            margin-bottom: 3rem;
        }

        .feature-card {
            text-align: center;
        }
    }
</style>

<div class="home-container">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="home-content">
                <h1 class="display-4 fw-bold mb-4">Bem-vindo à sua Agenda de Contatos</h1>
                <p class="lead text-secondary mb-4">
                    Gerencie seus contatos profissionais e pessoais de forma simples e eficiente.
                    Organize, pesquise e mantenha-se conectado.
                </p>
                <div class="mt-5">
                    <a asp-controller="Contato" asp-action="Index" class="btn btn-primary btn-lg me-3">
                        <i class="fas fa-users me-2"></i>Ver Contatos
                    </a>
                    <a asp-controller="Contato" asp-action="Create" class="btn btn-outline-primary btn-lg">
                        <i class="fas fa-plus me-2"></i>Novo Contato
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
            <div class="home-image text-center">
                <img src="~/animacao.svg" alt="Ilustração da Agenda de Contatos" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

